body {
    background: linear-gradient(-20deg, #570A57, #000000, #570A57, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @font-face {
    font-family: "Holiday";
    src: local("Holiday"),
     url("../fonts/Holiday.otf") format("truetype");
  }
  